body {
	padding-top: 60px;
	background-image: url("img/about-bg.png"); 
	background-size: cover;
	background-repeat: no-repeat;
}

#about-pad .container {
	padding-bottom: 20px;
}

#about-img-1 {
	height: 200px;
	width: 200px;
	border-radius: 150px;
	border: 5px solid black;
/*	position: relative;
	top: 100px;
	left: 100px;*/
}
