* {
	margin: 0;
	padding: 0;
}

body, html {
	padding-top: 15px;
}

.navbar-toggle {
	border: none;
	background: transparent !important;	
}

.navbar-toggle:hover {
	background: transparent !important;

}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .mid-bar {
	opacity: 0;
}

.navbar-toggle .bot-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%; 
}

.navbar-toggle.collapsed .top-bar {
		transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
		opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
		transform: rotate(0);
}

div.well {
	margin: 0;
}

div#map {
	 width:100%;
	 height:400px;
	 background: gray;
}

button#contact-us-submit-btn {
	margin-top: 15px;
}

form#modal-upload-form {
	padding: 0 30px 30px 30px;
}

select:hover {
	cursor: pointer;
}

input#user-uploaded-image:hover {
	cursor: pointer;
}

button#modal-form-submit {
	margin-top: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    margin-top: 100px; 
  }

footer a {
	color: grey;
}

  @media only screen and (max-width: 400px) {

#welcome-carousel-2,
#welcome-carousel-3,
#welcome-carousel-4 {
	display: none;
}



footer {
	position: relative;
	height: 140px;
	margin-top: 10px;
}

div#map {
	margin-bottom: 10px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

footer {
	position: relative;
	height: 140px;
	margin-top: 10px;
}

div#map {
	margin-bottom: 10px;
}
}

