* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
/*	background-image: url("img/bg-img.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    padding-top: 51px;
}

.navbar-toggle {
	border: none;
	background: transparent !important;	
}

.navbar-toggle:hover {
	background: transparent !important;

}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .mid-bar {
	opacity: 0;
}

.navbar-toggle .bot-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%; 
}

.navbar-toggle.collapsed .top-bar {
		transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
		opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
		transform: rotate(0);
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /*padding: 10px;*/
}



footer {
	/*position: fixed;*/
    left: 0;
    bottom: 0;
	background-color: black;
	color: grey;
	width: 100%;
	/*z-index: 999;*/
}

footer a {
	color: grey;
}


@media only screen and (max-width: 400px) {

#welcome-carousel-2,
#welcome-carousel-3,
#welcome-carousel-4 {
	display: none;
}
}