* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    padding-top: 51px;
}

.navbar-toggle {
	border: none;
	background: transparent !important;	
}

.navbar-toggle:hover {
	background: transparent !important;

}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .mid-bar {
	opacity: 0;
}

.navbar-toggle .bot-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%; 
}

.navbar-toggle.collapsed .top-bar {
		transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
		opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
		transform: rotate(0);
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container {
	margin-bottom: 10px;
}

div#lowerbody {
	margin-top: 50px;
}

form > input,
form > button {
	position: absolute;
	right: 10px;
	margin-right: 5px;
	margin-top: 5px;
	height: 30px; 
}

form > input {
	width: 300px;
}

button.btn {
	position: absolute;
	right: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 40px; 
  }

footer a {
	color: grey;
}

  @media only screen and (max-width: 400px) {

#welcome-carousel-1,
#welcome-carousel-2,
#welcome-carousel-3 {
	display: none;
}

footer {
	height: 140px;
}

}