* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
/*	background-image: url("img/bg-img.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}

.navbar-toggle {
	border: none;
	background: transparent !important;	
}

.navbar-toggle:hover {
	background: transparent !important;

}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .mid-bar {
	opacity: 0;
}

.navbar-toggle .bot-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%; 
}

.navbar-toggle.collapsed .top-bar {
		transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
		opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
		transform: rotate(0);
}

#navigator {
	margin-bottom: 0;
}

#welcome-carousel {
		margin: 0;
		height: 200px;
		max-height: 200px;
		width: 100%;
}

/*.vegans {
		height: 100%;
		width: 100%;
}
*/
#carousel-sliders {
	height: 100%;
	width: 100%;
}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

#view-recipe {
/*	width: 100%;
	margin-top: 5px;*/
	/*margin-bottom: 10px;*/
}

footer {
	height: 50px;
	background-color: grey;
}





@media only screen and (max-width: 400px) {


}

@media only screen and (min-width: 961px) {

#welcome-carousel {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 500px;
	max-height: 500px;

}

.carousel-inner > .item > img {
	height: 100%;
	width: 100%;
}

}