* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("img/landing-bg.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*padding-top: 300px;*/
}

.navbar-toggle {
	border: none;
	background: transparent !important;	
}

.navbar-toggle:hover {
	background: transparent !important;

}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .mid-bar {
	opacity: 0;
}

.navbar-toggle .bot-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%; 
}

.navbar-toggle.collapsed .top-bar {
		transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
		opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
		transform: rotate(0);
}

.container {
	margin-top: 500px;
}



div#height {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
/*	height: 20vh;
	width: 20vh;*/
}


