body {
	padding-top: 60px;
}
 
.navbar-toggle {
	border: none;
	background: transparent !important;	
}

.navbar-toggle:hover {
	background: transparent !important;

}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all .5s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .mid-bar {
	opacity: 0;
}

.navbar-toggle .bot-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%; 
}

.navbar-toggle.collapsed .top-bar {
		transform: rotate(0);
}

.navbar-toggle.collapsed .mid-bar {
		opacity: 1;
}

.navbar-toggle.collapsed .bot-bar {
		transform: rotate(0);
}

.recipe-inner-title {
	margin-top: 0;
}

h5#star-rating > .checked {
	color: orange;
}

#well-cont {
	margin-bottom: 0;
}

.user-dp {
	height: 70px;
	width: 70px;
}

#user-comment {
	height: 100px;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    margin-top: 40px; 
  }

footer a {
	color: grey;
}

  @media only screen and (max-width: 400px) {

#welcome-carousel-2,
#welcome-carousel-3,
#welcome-carousel-4 {
	display: none;
}

footer {
	height: 140px;
}

}